<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--JH 3/9/2020 Security Service Entries - BEGIN ============================================================== -->
    <add key="appId" value="" />
    <!--Value is appID - integer. You will need to get this from the Security Service Management Console (http://web2-ag-plt/security_service_management_console/) when you create your app-->
    <add key="SecurityServiceManagementConsole_URL" value="'http://web2-ag-plt/Security_Service_Management_Console/PermissionLevelAssignment_IFRAME.aspx?appId='" />
    <add key="SecurityServiceURL_JS" value="'http://web4-ag-plt/PlantSecurityService/api/'" />
    <add key="SecurityServiceURL_ASP" value="http://web4-ag-plt/PlantSecurityService/api/" />
    <add key="SecurityKey" value="JH" />
    <add key="SecuritySalt" value="SALTY" />
    <!--Email Entries For Security Service-->
    <add key="EmailClient" value="mailedge.bfusa.com" />
    <add key="EmailFrom" value="SecurityServiceAlerts@bfusa.com" />
    <add key="EmailTo" value="harriganjeff@bfusa.com" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!-- JH 3/9/2020 Security Service Entries - END ============================================================== -->
  </appSettings>
  <connectionStrings>
    <!--<add name="Template_DB" providerName="System.Data.SqlClient" connectionString="Data Source=Sql95-Ag-Plt;Initial Catalog=DataWarehouse;User Id=FirestoneWebTemplateTestUser; Password=FwTtu19845!@@#;" />-->

    <add name="Template_DB" providerName="System.Data.SqlClient" connectionString="Data Source=SQL95-AG-PLT;Initial Catalog=PartsR3; integrated security=true" />
    <!-- JH 3/9/2020 Security Service Entries - BEGIN ============================================================== -->
    <add name="SecurityDBConn" providerName="System.Data.SqlClient" connectionString="Data Source=Sql8-Ag-Plt;Initial Catalog=PlantSecurityService;User Id=SecurityWebServiceUser; Password=securitywebserviceuser;" />
    <!--JH 3/9/2020 Security Service Entries - END ============================================================== -->
  </connectionStrings>
  <system.web>
    <!--JH 3/9/2020 This tell's the app to use SQL for Session info. This will persist in a webfarm enviornment - BEGIN ============================================================== -->
    <sessionState cookieless="false" regenerateExpiredSessionId="true" timeout="20" mode="SQLServer" sqlConnectionString="Data Source=Sql8-Ag-Plt;User Id=SQLSessionStateUser; Password=x53LtKtG;" />
    <!--JH 3/9/2020 - END ============================================================================================================================================================ -->
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Windows"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=edge" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEmailService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://web4-ag-plt/EmailService/EmailService.svc/EmailService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailService"
          contract="EmailService.IEmailService" name="BasicHttpBinding_IEmailService" />
    </client>
  </system.serviceModel>
</configuration>
